attrs==20.3.0
certifi==2020.6.20
chardet==3.0.4
contextlib2==0.6.0.post1
idna==2.10
iniconfig==1.1.1
kucoin-python==1.0.4
packaging==20.7
peewee==3.14.0
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.9.0
pyarmor==6.6.0
pyparsing==2.4.7
pytest==6.1.2
python-pushover==0.4
requests==2.24.0
schema==0.7.2
toml==0.10.2
urllib3==1.25.11
websockets==8.1
